
  .navbar-nav .nav-link:hover {
    background-color: transparent !important;
  }
  .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .product-image {
    margin-right: 20px;
  }
  
  .product-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-description {
    margin-bottom: 20px;
  }
  .product-image img {
    width: 250px; /* Replace with desired width */
    height: auto;
  }

  main {
    margin-top: 50px; /* adjust the spacing as needed */
    text-align: center;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tfoot td {
    font-weight: bold;
  }
  .hidden {
    display: none;
  }

  .dropdown-item {
    font-size: 14px;
    color: #333;
    background-color: #fff;
  }
  
  .dropdown-item:hover {
    background-color: #f2f2f2;
  }
  
  